body
{
background-color:beige;
margin-top:55;
margin-right:75;
margin-left:75;
margin-bottom:50;
}
body.sin
{
background-color:beige;
}


p
{
font-family:Harrington;
text-align:justify;
color:black;
font-weight:bold;
}

p.center
{
text-align:center;
}
p.izq
{
float:right;
}
p.der
{
float:left;
}
img
{
widht:270px;
height:250px;
}
img.see
{
widht:200px;
height:170px;
}


h1,h2
{
font-family:Jokerman;
color:957dad;
text-align:center;
text-transform:uppercase;
font-weight:bold;
}


h3.c2
{
font-family:Colonna MT;
color:8db9e4;
text-align:left;
text-transform:uppercase;
font-weight:bold;
}


li
{
font-family:Colonna MT;
color:a3;
text-transform:uppercase;
font-weight:bold;
}
li.seg
{
font-family:couriel;
color:77dd77;                           //verde
text-transform:uppercase;
font-weight:bold;
}

li.se
{
font-family:couriel;
color:8db9e4;                        //azul
text-transform:uppercase;
font-weight:bold;
}
li.b
{
font-family:couriel;
color:967dad;                       //morado
font-weight:bold;
}


table
{
border-color:darkblue;
border-whidth:25px;
}

td
{
padding-left:.20cm;
padding-right:.20cm;
padding-top:.20cm;
padding-bottom:.20cm;
border-style:dotted;
}
td.a
{
font-family:couriel;
color:8db9e4;
text-transform:uppercase;
font-weight:bold;
}
td.b
{
font-family:couriel;
color:967dad;
font-weight:bold;
}